---
---

@import "code4sa-custom-bootstrap";


#map {
  width: 100%;
  height: 300px;

  margin-top: 10px;
  cursor: pointer;
}

.content-box {
  position: relative;
}

.address-form {
  margin-bottom: 20px;
}

.level {
  display: none;
  margin-left: 35px;
}

.report {
  .marker {
    float: left;
  }
}

.legend {
  .box {
    float: left;
    width: 1em;
    height: 1em;
    margin-top: 5px;
  }

  .current {
    border: 1px solid #254B80;
    background: #3264AB;
  }

  .proposed {
    border: 1px solid #991217;
    background: #ED1C24;
  }

  .lbl {
    margin-left: 1.5em;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #map {
    height: 600px;
  }

  .controls {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;

    width: 275px;

    z-index: 100;
    background: #e5e5e5;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65)
  }
}

@media (max-width: 767px) {
  input[type=text],
  input[type=password],
  input[type=url],
  input[type=email] {
    font-size: 16px !important;
  }
}

.footer {
  img.logo {
    height: 50px;
    width: auto;
  }

  font-size: 14px;
}

.info-box {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;

  .logo {
    height: 60px;
    width: auto;
  }

  .social-buttons {
    text-align: center;
    margin-bottom: 10px;
    a {
      text-decoration: none;
      border-bottom: 0px;
    }
  }
}
