<img class="marker" src="/js/images/marker-icon.png">

<div class="level-none level alert alert-success">
  <h5><i class="fa fa-check-circle"></i> Safe</h5>
  <div class="dB">under 55 dB</div>
</div>

<div class="level-safe level alert alert-success">
  <h5><i class="fa fa-check-circle"></i> Safe</h5>
  <div class="dB">55 - 60 dB</div>
</div>

<div class="level-disturbing level alert alert-warning">
  <h5><i class="fa fa-warning"></i> Disturbing</h5>
  <div class="dB">60 - 70 dB</div>
</div>

<div class="level-very-disturbing level alert alert-danger">
  <h5><i class="fa fa-warning"></i> Very disturbing</h5>
  <div class="dB">70 - 75 dB</div>
</div>

<div class="level-extremely-disturbing level alert alert-danger">
  <h5><i class="fa fa-warning"></i> Extremely disturbing</h5>
  <div class="dB">over 75 dB</div>
</div>
