<img class="marker" src="/js/images/marker-icon.png">

<div class="level-safe level alert alert-success">
  <h5><i class="fa fa-check-circle"></i> Safe</h5>
  <div class="dB">under 55 dB</div>
</div>

<div class="level-harmful level alert alert-warning">
  <h5><i class="fa fa-warning"></i> Harmful</h5>
  <div class="dB">55 - 65 dB</div>
</div>

<div class="level-dangerous level alert alert-danger">
  <h5><i class="fa fa-warning"></i> Dangerous</h5>
  <div class="dB">65 - 75 dB</div>
</div>

<div class="level-very-dangerous level alert alert-danger">
  <h5><i class="fa fa-warning"></i> Very Dangerous</h5>
  <div class="dB">over 75 dB</div>
</div>
