---
layout: default
---
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://code4sa.org">
        <img src="/img/code4sa_logo_web.png" alt="Code for South Africa"></a>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="twitter" href="https://twitter.com/@Code4SA"><i class="fa fa-twitter fa-2x"></i></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

{{ content }}

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-xs-6">
        <a href="http://code4sa.org" target="_blank">
          <img class="logo" src="/img/code4sa_logo_white.png">
        </a>
      </div>

      <div class="col-sm-2 col-xs-6">
        <a href="http://opendemocracy.org.za" target="_blank">
          <img class="logo" src="/img/odac-logo.png">
        </a>
      </div>

      <div class="col-sm-2 col-xs-12">
        <p>
          <a href="https://github.com/Code4SA/cpt-noise">Fork me on GitHub</a>
        </p>
      </div>
    </div>

  </div>
</footer>
